body{
  margin: 0;
  padding: 0;
  font: 1.6em arial, helvetica, sans-serif;
  background: url("../images/todo.jpg") 0px -1190px;
  box-sizing: border-box;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header{
  color: white;
  background: #16c0a4;
  border-radius: 10px;
  margin: 10px;
}

header #header{
  display: flex;
}

header #logo{
  flex: 1;
}

header nav{
  flex: 1;
  margin: 25px;
}

header nav ul{
  list-style-type: none;
  display: flex;
  padding-left: 0px;
}

header ul li{
  flex: 1;
  text-align: right;
}

li a{
  text-decoration: none;
  color: white;
}

li a:hover{
  color: black;
  text-shadow: 2px 2px 4px gray;
  font-size: 1.1em;
  
}

.my-form{
  margin: 20px 0 0 0;
}

input{
  padding: 20px;
  font-size: 16px;
  border-radius: 10px;
}

input[type="submit"]{
  background: #16c0a4;
  color: whitesmoke;
  margin-left: 5px;
}

section ul{
  list-style-type: upper-roman;
}

section ul li{
  padding: 5px;
  font-size: .8em;
}

section ul li:hover{
  font-weight: bold;
}

.done{
  text-decoration: line-through;
  color: green;
}

#notice{
  font-size: .5em;
}

@media (max-width: 951px){
  header #header{
    display: block;
    padding: 2px 0px 2px 0px;
  }

  header #logo{
    text-align: center;
  }

  header nav ul{
    display: block;
  }

  header nav ul li{
    text-align: center;
    padding: 10px;
  }

  input{
    display: block;
    width: 100%;
  }

  .my-form #input{
    margin: 0px;
    box-sizing: border-box;
  }

  .my-form #submit{
    margin-left: 0px;
    margin-top: 10px;
  }

  #notice{
    display: block;
  }
}